.center
  .ear.ear--left
  .ear.ear--right
  
  .face
    .eyes
      .eye.eye--left
        .glow
      .eye.eye--right
        .glow
    .nose
      svg(width="38.161" height="22.03")
        path(d="M2.017 10.987Q-.563 7.513.157 4.754C.877 1.994 2.976.135 6.164.093 16.4-.04 22.293-.022 32.048.093c3.501.042 5.48 2.081 6.02 4.661q.54 2.579-2.051 6.233-8.612 10.979-16.664 11.043-8.053.063-17.336-11.043z" fill="#243946")
      .glow

    .mouth
      svg.smile(viewBox="-2 -2 84 23" width="84" height="23")
        path(d="M0 0c3.76 9.279 9.69 18.98 26.712 19.238 17.022.258 10.72.258 28 0S75.959 9.182 79.987.161" fill="none" stroke-width="3" stroke-linecap="square" stroke-miterlimit="3")
      .mouth-hole
      .tongue.breath
        .tongue-top
        .line
        .median

  .hands
    .hand.hand--left
      .finger
        .bone
        .nail
      .finger
        .bone
        .nail
      .finger
        .bone
        .nail

    .hand.hand--right
      .finger
        .bone
        .nail
      .finger
        .bone
        .nail
      .finger
        .bone
        .nail

  .login
    label
      .fa.fa-phone
      input.username(type='text' autocomplete='on' placeholder='手机号码')

    label
      .fa.fa-commenting
      input.password(type='password' autocomplete='off' placeholder='健谈的')
      button.password-button 显示密码

    button.login-button 登录

  .social-buttons
    .social
      .fa.fa-wechat
    .social
      .fa.fa-weibo
    .social
      .fa.fa-paw

  .footer 随机文本

a(href='https://dribbble.com/shots/4485321-Login-Page-Homepage' class='inspiration' target='_blank' rel='noopener')
  img(src='https://cdn.dribbble.com/assets/logo-footer-hd-a05db77841b4b27c0bf23ec1378e97c988190dfe7d26e32e1faea7269f9e001b.png' alt='inspiration')
